<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>쿠폰콕</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>쿠폰을 기기에서 안전하게 인식하기 위해 카메라를 사용합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>매장 진입 시 쿠폰 혜택을 알려드리기 위해 위치를 사용합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>주변 매장에서 사용할 수 있는 쿠폰을 알려드리기 위해 위치를 사용합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>사진 속 쿠폰을 기기에서 인식하기 위해 사진 보관함을 사용합니다.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
